@*
    Added the two lines below to lock down certain nav items.
    These are required to check the Authentication of a user (aka whether or not they are logged in)
*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> UserManager
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using StoreFront.DATA.EF.Models

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] | Will's Game Lounge</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/assets/Shop_Logo_Final_Joystix_Font.jpg" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <!--Datatables CSS-->
    <link href="//cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!--Paged List Stlye-->
    <link href="~/css/PagedList.css" rel="stylesheet" />
    <!--Custom Stlye-->
    <link href="~/css/Custom.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light bg-custom" id="navBar">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Will's Game Lounge</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 ">
                    <li class="nav-item"><a class="nav-link  " aria-current="page" href="/">Home</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                            <ul class="dropdown-menu bg-custom" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-action="ListUsers" asp-controller="Administration">Users</a></li>
                                <li><a class="dropdown-item" asp-action="ListRoles" asp-controller="Administration">Roles</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a asp-action="Index" asp-controller="Products" class="dropdown-item">Products</a></li>
                                <li><a asp-action="Index" asp-controller="Orders" class="dropdown-item">Orders</a></li>
                                <li><a asp-action="Index" asp-controller="UserDetails" class="dropdown-item">User Details</a></li>
                                <li><a asp-action="Index" asp-controller="Suppliers" class="dropdown-item">Suppliers</a></li>
                                <li><a asp-action="Index" asp-controller="ProductCategories" class="dropdown-item">Categories</a></li>
                                <li><a asp-action="Index" asp-controller="Games" class="dropdown-item">Games</a></li>
                            </ul>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a asp-action="TiledProducts" asp-controller="Products" class="dropdown-item">All Products</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a asp-action="PopularProducts" asp-controller="Products" class="dropdown-item">Popular Products</a></li>
                        </ul>
                    </li>
                    
                </ul>
                @{

                    //Create a variable to store the number of products
                    int productCount = 0;
                    var products = new Dictionary<int, CartItemViewModel>();
                    //Check if the cart string exists in the Session
                    if (!String.IsNullOrEmpty(Context.Session.GetString("cart")))
                    {

                        //Deserialize the Sessioncart and store it in the dictionary
                        products = JsonConvert.DeserializeObject<Dictionary<int, CartItemViewModel>>(Context.Session.GetString("cart"));

                        //Take the productCount and assign it the sum of the Qty of cart items
                        productCount = products.Sum(p => p.Value.Qty);
                    }
                }
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <partial name="_LoginPartial" />
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <a class="nav-link" asp-action="Index" asp-controller="ShoppingCart">

                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill cart">
                            @productCount
                        </span>
                    </a>
                </form>
            </div>
        </div>
    </nav>

    @RenderSection("Header", false)

    @RenderBody()
    <!-- Footer-->
    <footer class="py-5 bg-dark bg-custom ">
        <div class="container"><p class="m-0 text-center">Copyright &copy; Will's Game Lounge LLC @DateTime.Now.Year</p></div>
    </footer>
    <!-- jQuery -->
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>
    <!-- AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--Datatables.net-->
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(".cart") function() {
            let cart = @productCount;
            console.log(@productCount)
        });
    </script>
    @await RenderSectionAsync("Scripts", false)

</body>
</html>
